<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->

<p>
    Reporter (Version beta 6 - released 02. April 2018) is a tool to create text templates and adapt those using pre-defined options and overrides to create individual texts from templates. The process is built to happen entirely in the browser. The program is designed to keep all the data in your browser on your local computer with no data being sent around the internet. The only internet necessary should be for loading this website. It works best in Firefox and Opera. It does not work in Microsoft Internet Explorer. You can look at the source code at https://gitlab.com/geoadel/reporter
</p>
<p>
    Beta 6 offers a fix for scrolling, variables should be more reliable than before. Also included are two short examples and the description of named choices has been updated.
</p>
<p>
Copyright 2018 Georg Adelmann - mail@geoadel.net
This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see http://www.gnu.org/licenses/.
        </p>