<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->

    <div fxLayout="column">
        <span>
            <mat-form-field fxFlex="90">
                <mat-select placeholder="Stored Templates" [(ngModel)]="templateTitle" (selectionChange)="loadTemplate()">
                    <mat-option>None</mat-option>
                    <mat-option  *ngFor="let title of getTemplateTitles()" [value]="title" >
                        {{ title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="toggleVisibilityTemplateEdit()" mat-icon-button><i class="material-icons">settings</i></button>
        </span>
        <span *ngIf="isVisibleTemplateEdit" fxLayout="column">
            <div fxFlex="100" >
                <mat-form-field>
                    <input [(ngModel)]="newTitle" placeholder="Title of new template" matInput>
                </mat-form-field>
                <button mat-icon-button (click)="storeTemplate(newTitle)"><i class="material-icons">add_circle</i></button>
            </div>
            <div fxFlex="100">
                <h4>Existing templates</h4>
                <ul>
                    <li *ngFor="let title of getTemplateTitles()">
                        <span fxFlex="100">{{title}}</span><span><button mat-icon-button (click)="removeTemplate(title)"><i class="material-icons">clear</i></button></span>
                    </li>
                </ul>
            </div>
        </span>
    </div>
    <div>
        <mat-form-field>
            <textarea matInput placeholder="Enter template" [(ngModel)]="dataService.templateSource" (keyup)="dataService.templateSourceChanged()" class="scrollAreas"></textarea>
        </mat-form-field>
    </div>

<div>
    Load an example:
    <mat-form-field fxFlex="90">
        <mat-select placeholder="Stored Examples" [(ngModel)]="exampleTitle" (selectionChange)="loadExample()">
            <mat-option>None</mat-option>
            <mat-option  *ngFor="let title of exampleTitles" [value]="title" >
                {{ title }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
</div>
        


