<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->

<div fxLayout="row" class="scrollAreas">
    <!--
    <div fxFlex="40" class='scrollAreas' [innerHTML]="dataService.finalText">
    </div>
    -->
    
    <div class="scrollAreas" fxFlex="40" id="markdownView" [innerHTML]="dataService.markdownText | MarkdownToHtml "></div>`
    
    <!--
    <div fxFlex="40" class="scrollAreas">
        
        <span *ngFor="let part of dataService.textParts" class="textcontainer">
            <span class="textelement" *ngIf="part.isOption" id="{{part.id}}" [ngClass]="{'text-success':part.part.isActive}">
               {{replaceTags(part.part.getSelectedText())}} 
            </span>
            <span lass="textelement" *ngIf="part.isText">
                {{replaceTags(part.part)}}                
            </span>
            <span class="textelement" *ngIf="part.isNewline">
                <p></p>
            </span>
        </span>
    </div>
-->
    <div fxLayout="column" fxFlex="45" class="scrollAreas">
        
        <!-- Need to wait for angular 6 which should fix an issue with -->
        <!--
            <mat-expansion-panel *ngFor="let variable of getVariables(); index as i">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{variable.tag}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput [(ngModel)]="variable.replacement">
                    <button matSuffix mat-icon-button (click)="updateFinalText()"><i class="material-icons">autorenew</i></button>
                </mat-form-field>
            </mat-expansion-panel>
            
            <mat-expansion-panel *ngFor="let option of getOptions(); index as i"
                [expanded]="option.isActive" (closed)="option.isActive=false" (opened)="option.isActive = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{option.getTitle()}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                
                <ul *ngIf="!option.isMultipleChoice" >
                    <li *ngFor="let choice of option.getChoices(); index as i" (click)="setChoice(option, i)"
                        [ngStyle]="{'color': option.isSelected(i) ? 'green' : 'black' }">
                        {{choice}}
                    </li>
                </ul>
                <div *ngIf="option.isMultipleChoice">
                    
                        <mat-checkbox *ngFor="let choice of option.getChoices(); index as i"
                            [(ngModel)]="option.selectedChoices[i]" (ngModelChange)="updateFinalText()">
                            {{choice}}
                        </mat-checkbox>
                    
                </div>
                
            </mat-expansion-panel>
        
-->
        
        
        <span *ngFor="let option of dataService.optionsAndVariablesSorted">
            <mat-card *ngIf="option.occursInText">
                <mat-card-title fxLayout="row" fxLayoutAlign="space-between start" >
                    <span (click)="option.toggleDisplay()" >{{getTitle(option)}}<span *ngIf="option.hasBeenSelected"> - {{option.getSelectedTextAbbreviated()}}<i class="material-icons">check</i></span></span>
                        <span class="toTop"><span *ngIf="!option.tag">
                                <button mat-icon-button (click)="option.overrideVisible = !option.overrideVisible; option.isDisplayedFully = option.overrideVisible; updateFocus(option.id)"><i class="material-icons" [ngClass]="{'orange600': option.override.length > 0}">input</i></button>
                            </span>
                        </span>
                </mat-card-title>


                <mat-card-content *ngIf="option.isDisplayedFully">

                    <!-- variable -->
                    <mat-form-field *ngIf="option.tag">
                        <textarea matInput placeholder="Replacement" [(ngModel)]="option.replacement" (keyup)="updateFocus(option.id)" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7"></textarea>
                    </mat-form-field>

                    <!-- OVERRIDE -->
                    <div *ngIf="option.overrideVisible">
                        <span><mat-slide-toggle matSuffix [(ngModel)]="option.overrideAdd" (change)="updateFocus(option.id)">In addition to selection</mat-slide-toggle></span>

                        <mat-form-field>
                            <textarea matInput placeholder="Override" [(ngModel)]="option.override" (keyup)="updateFocus(option.id)" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7"></textarea>
                            <button matSuffix mat-icon-button (click)="option.overrideVisible = false; option.override=''; updateFocus(option.id)"><i class="material-icons">clear</i></button>
                        </mat-form-field>
                    </div>


                    <!-- simple choice and named choice -->
                    <ul *ngIf="!option.isMultipleChoice && !option.tag && !option.overrideVisible">
                        <li *ngFor="let choice of option.getChoices(); index as i" (click)=" setChoice(option, i); updateFocus(option.id)"
                            [ngStyle]="{'color': option.isSelected(i) ? 'green' : 'black' }">
                            {{choice}}
                        </li>
                    </ul>
                    <!-- multiple choice -->
                    <div *ngIf="option.isMultipleChoice && !option.overrideVisible" fxLayoutGap="20px" flex="1">
                        <mat-checkbox *ngFor="let choice of option.getChoices(); index as i"
                            [checked]="option.selectedChoices[i]" (change)="option.toggleMultipleChoice(i); updateFocus(option.id)">
                            <span>{{option.getChoiceAbbreviated(i)}}</span>
                        </mat-checkbox>
                    </div>
                </mat-card-content> 
            </mat-card>
        </span>
    </div>
</div>
