
.mat-card-title {
    font-size: 1em;
    font-weight: 100;
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 250px;
}

.toTop {
  margin-top: -15px;
}

textcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
textelement {
  display: inline-block;
}


.text-success {
    animation-name: highlight;
    animation-duration: 5s;
}

em {
    color: #0099cc;
}

@keyframes highlight {
    0%   {background-color: white;}
    10%   {background-color: #ccffff;}
    25%  {background-color:  #ccffff;}
    50%  {background-color:  #ccffff;}
    100% {background-color:  #ccffff;}
}