<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->

<mat-tab-group (selectedTabChange)="updateData($event)" >
    <mat-tab label="Prepare"><div fxLayout="column"><app-template-prepare fxFlex="45"></app-template-prepare><app-help fxFlex="45"></app-help></div></mat-tab>
    <mat-tab label="Choose"><app-template-choose></app-template-choose></mat-tab>
    <mat-tab label="About"><app-about-reporter></app-about-reporter></mat-tab>
</mat-tab-group>