/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/material-design-icons-iconfont/dist/material-design-icons.css";


.mat-form-field .mat-form-field-infix {
  width: auto;
}

/* class repeated for increased specificity */
.mat-form-field.mat-form-field {
  width: 90%;
  min-width: 50px;
}

.scrollAreas {
    margin: 1em;
    padding: 1em;
    max-height: 85vh;
    min-height: 50vh;
    overflow: auto;
}

.material-icons.orange600 { color: #FB8C00; }