<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->

<div>
    <h1>Cheatsheet</h1>
    
    <p>
        Copy the examples below into the text area to the left and then click on the "Viewer" tab to understand what each possibility achieves.
    </p>
    
    

    <div fxLayout="row" fxLayoutAlign="space-around center" >
        
        <div fxFlex="10%">
            <h4>Simple choice</h4>
        </div>
        <div fxFlex="20%">
            [title*option 1|option 2| .... |option n]
        </div>
        <div fxFlex="20%">
            I love birds like the common [birds*duck|parrot|kakapo].
        </div>
        <div fxFlex="20%">
            I love birds like the common {{examples[0].getSelectedText()}}.
        </div>
        <div fxFlex="20%">
            <mat-card>
                    <mat-card-title>
                        {{examples[0].title}}
                        <span matSuffix><i *ngIf="examples[0].hasBeenSelected" class="material-icons">check</i></span></mat-card-title>
                    <mat-card-content *ngIf="examples[0].isDisplayedFully">
                        <ul>
                            <li *ngFor="let choice of examples[0].getChoices(); index as i" (click)="examples[0].selectedChoice = i"
                                [ngStyle]="{'color': examples[0].isSelected(i) ? 'green' : 'black' }">
                                {{choice}}
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
        
        <div fxFlex="10%">
            <h4>Named choices</h4>
        </div>
        <div fxFlex="20%">
            {{ '{' }}title*Name1:Content1 | Name2: Content2 | ... | Name n: Content n}
        </div>
        <div fxFlex="20%">
            {{ '{' }}GroupTherapy*Depression:The group therapy focused depression.|Anxiety:Anxiety-related experiences were shared.|None:}
        </div>
        <div fxFlex="20%">
            {{examples[1].getSelectedText()}}
        </div>
        <div fxFlex=" 20%">
                <mat-card>
                    <mat-card-title>
                        {{examples[1].title}}
                        <span matSuffix><i *ngIf="examples[1].hasBeenSelected" class="material-icons">check</i></span></mat-card-title>
                    <mat-card-content *ngIf="examples[1].isDisplayedFully">
                        <ul>
                            <li *ngFor="let choice of examples[1].getChoices(); index as i" (click)="examples[1].selectedChoice = i"
                                [ngStyle]="{'color': examples[1].isSelected(i) ? 'green' : 'black' }">
                                {{choice}}
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex ="10%"><h4>Notes for named choices</h4></div>
        <div fxFlex="20%">If two choices have the same name - then if you change one, that choice will be transported to all other named options with an identical name.</div>
        <div fxFlex="20%">
        {{ '{' }}Gender*Man:His|Woman:Her} own greed was {{ '{' }}Gender*Man:his|Woman:her|Multiple:their} undoing.
        </div>
        <div fxFlex="20%"></div>
        <div fxFlex="20%"></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        
        <div fxFlex="10%"  >
            <h4>Multiple Choice</h4>
        </div>
        <div fxFlex="20%">
            {{'<'}}title*connector%Choice 1 | ... | Choice n>
        </div>
        <div fxFlex="20%">
            Some {{'<'}}Favourite foods* and %chocolate|white chocolate|chocolate icecream|hot chocolate> a day keeps the doctor away.
        </div>
        <div fxFlex="20%">
            Some {{examples[2].getSelectedText()}} a day keeps the doctor away.
        </div>
        <div fxFlex="20%">
            <mat-card>
                <mat-card-title>
                    {{examples[2].title}}
                </mat-card-title>
                <mat-card-content>
                    <mat-checkbox *ngFor="let choice of examples[2].getChoices(); index as i"
                        [(ngModel)]="examples[2].selectedChoices[i]">
                        <span>{{examples[2].getChoiceAbbreviated(i)}}</span>
                    </mat-checkbox> 
                </mat-card-content> 
            </mat-card>
        </div>
    </div>
    <div fxLayout="row"  fxLayoutAlign="space-around center" >
        <div fxFlex="10%">
            <h4>Variables</h4>
        </div>
        <div fxFlex="20%">
            #VariableName
        </div>
        <div fxFlex="20%">
            Dear #name, you are cordially invited.
        </div>
        <div fxFlex="20%">
            Dear {{exampleVariable.getReplacement()}}, you are cordially invited.
        </div>
        <div fxFlex="20%">
            <mat-card>
                <mat-card-title>
                    {{exampleVariable.tag}}
                </mat-card-title>
                <mat-card-content>
                    <mat-form-field>
                        <textarea matInput placeholder="Replacement" [(ngModel)]="exampleVariable.replacement" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7"></textarea>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    
    <p>
        Once you understand the different options available you can insert them into standard text blocks used regularly. That way you can speed up different kinds of reports by creating a customized scaffold in a more efficient way than copy paste all kinds of different text snippets again and again and again.
    </p>
    <p>
        Choices do offer an override button <button mat-icon-button><i class="material-icons">input</i></button> which allows to override any choices and instead or in addition (once you click on the override button, a toggle becomes visible) insert custom text.             
    </p>
   
    
    <h2>Simple text formatting</h2>
    <p>
    There are some simple formatting options available for text
    </p>
    <div fxLayout="row"  fxLayoutAlign="space-around center">
        <div fxFlex="70">
           Headlines are created by a new line starting with a hashtag, then an empty and then some text. You can add more hashtags to make the headline smaller.<br />
           ## headline
        </div>
        <div fxFlex="25" [innerHTML]="exampleHeadline | MarkdownToHtml">

        </div>
    </div>
    
    <div fxLayout="row"  fxLayoutAlign="space-around center">
        <div fxFlex="70">
            In a similar way you can create bold text by adding two stars to each side of a word <br />
            This is **boldly** emphasized text.
        </div>
        <div fxFlex="25" [innerHTML]="exampleBoldtext | MarkdownToHtml">

        </div>
    </div>    
    
    <div fxLayout="row"  fxLayoutAlign="space-around center">
        <div fxFlex="70">
            Quotations can help structure text as well - you can do those starting at a new line with ">" followed by space and then text <br />
            > This is a quotation, meaning it will be indented and multiline if too long for one line.
        </div>
        <div fxFlex="25" [innerHTML]="exampleQuote | MarkdownToHtml">

        </div>
    </div>  
    
    <!--
    <h1>Help</h1>
    <p>
        Welcome to the ng-reporter. This is a simple app to allow standard forms with only limited options to be filled in faster.
    </p>
    <p>
        E.g. if I had to file a report on every client looking like this (okay, entirely fictional):
    </p>
    <i>The client (No. 5817) behaves naturally. He describes short episodes of anxiety and no signs of depression. He shows no signs of memory loss. End of report for client (No. 5817)</i>
    <p>
        I could speed up the process by using this template - and it is best to just try it and see what happens:
    </p>
    <i>The client (No. #number) behaves [Behaviour* normal|naturally|suspicious]. {{'{'}}Gender* Male:He describes|Female:She describes|Neutral:It describes|Plural:They describe} [Anxiety* some|no] signs of anxiety and [Other issues 1* no|significant] signs of {{'<'}}Other issues 2* or % depression|inner conflicts|other disorders>. \n\n {{'{'}}Gender* Male:He describes|Female:She describes|Neutral:It describes|Plural:They describe} [Memory loss* no signs | signs] of memory loss. End of for client (No. #number).</i>
    <h4>Simple replacement</h4>
    <p>
        Some variables can be set beforehand for the whole text using # followed by a short identifying text like #name or #id or #date
    </p>
    <h4>Simple alternative options</h4>
    <pre>[option 1|option 2| .... |option n]</pre>
    <p>
        allows you to select from an arbitrary number of options. Any choice does not influence any other option.
    </p>
    <h4>Named alternatives</h4>
    <pre>{{ '{' }}Name1:Content1 | Name2: Content2 | ... | Name n: Content n}</pre>
    <p>Curly brackets enclose several options. Each option requires a name followed by a semicolon and a text. These options come in handy in two cases.</p>
    <ul>
        <li>1. The choice should be reflected at several points throughout the text - when you make a choice with a named option, all other named options with the same named choice will change to that same named choice.</li>
        <li>2. The different alternative options are very long. In this case it makes sense to abbreviate it to a name.</li>
    </ul>
    <h4>Multiple Choice Alternatives</h4>
    <pre>{{'<'}}name*connector%Choice 1 | ... | Choice n></pre>
    <p>This allows for multiple answers to be selected and inserted into the text. The connector% is an optional variable at the start that declares how the last two variables should be connected (in case, multiple choices were selected). E.g. "and%" would lead to "choice n and choice 15"</p>
    
    <h4>Titles</h4>
    To help with the overview of different options you can give each option a title by including at the beginning of the first option a title followed by the star character <pre>title*</pre>. Named types cannot have a title.
    
    -->
</div>
 
    
    
